html{
    scroll-behavior: smooth;
}
body {
    text-align: center;
}

.menu {
    list-style: none;
    top: 10px;
    right: 10px;
    z-index: 10;
    position: fixed;
    cursor: pointer;
}

.links {
    font-size: 25px;
    float: left;
    padding: 10px;
    color: darkblue;
    font-family: 'Anton', sans-serif;
}

.links:hover {
    background-color: white;
}

#welcome {
    background: linear-gradient(lightblue, yellowgreen);
    width: 110%;
    margin: 0px;
    margin-left: -10px;
    right: 0px;
    z-index: 1;
    padding-top: 100px;
    margin: -20px;
}

img {
    border-radius: 50%;
}

h1 {
    color: red;

}

#name {
    font-family: cursive;
    color: red;
}

h2 {
    color: red;
}

#main {
    background: linear-gradient(yellowgreen, lightblue);
    margin: -20px;
}

.line {
    height: 5px;
    width: 100px;
    background-color: black;
    margin: 5px auto;
}

p {
    max-width: 80%;
    margin: 25px auto;
    color: red;
}
#videos{
    background: linear-gradient(lightblue, yellowgreen);
    margin: -20px;
}
#work{
    background: linear-gradient(yellowgreen, lightblue);
    margin: -20px;
}
#writings{
    background: linear-gradient(lightblue, yellowgreen);
    margin: -20px;
}